<div class="main-layout">
  <aside class="sidebar">
    <h3>3PM Solution</h3>
    <ul>
      <li><a routerLink="/equipment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Data Equipment</a></li>
      <li><a routerLink="/equipment/add" routerLinkActive="active">Tambah Equipment</a></li>
      <li><a routerLink="/users" routerLinkActive="active">Data User</a></li>
      <li><a routerLink="/request" routerLinkActive="active">Request</a></li>
    </ul>
    <div class="logout-section">
      <button (click)="logout()" class="logout-button">Logout</button>
    </div>
  </aside>

  <main class="main-content">
    <nav class="top-navbar">
      <div class="left-section">
        <strong>Welcome, <span style="color: #4e60ff">{{ userName }}</span></strong>
      </div>
      <div class="right-section">
        <div class="icon notification">
          <i data-feather="bell"></i>
        </div>
        <div class="icon user" (click)="goToProfile()">
          <i data-feather="user"></i>
        </div>
      </div>
    </nav>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
